<div
  class="fixed top-0 left-0 z-[-2] w-screen min-h-screen bg-gray-700 bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
>
  <h1>Generar Nuevo Correo de Restablecimiento</h1>
  <form action="/api/users/new-password" method="POST">
    <label for="email">Email:</label>
    <input class="text-black" type="email" id="email" name="email" required />
    <button type="submit">Enviar Correo de Restablecimiento</button>
  </form>

  {{#if error}}
    <p class="error-message">{{error}}</p>
  {{/if}}
</div>